body {
  --bg-color: var(--tg-theme-bg-color, #fff);
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--tg-theme-text-color, #222);
  font-size: 14px;
  margin: 0;
  padding: 0;
  color-scheme: var(--tg-color-scheme);
}
.product {
 
  margin-right: 20px; /* Отступ между карточками (20px) */
  margin-bottom: 20px; /* Отступ снизу (20px) */
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex-basis: 40%; 
}

.product img {
  width: 90%;
  border-radius: 10px;
  margin: 5px;
}

.product-details {
  flex-grow: 1;
  padding: 3px;
}

.product h3 {
  margin: 0;
}

.price {
  font-weight: bold;
}

.quantity {
  display: flex;
  align-items: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Добавьте класс .hidden для скрытия элемента */
.hidden {
  display: none;
}
h1 {
  margin-left: 10px;
}
.count {
  font-weight: bold;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  
  /* Равномерно распределить карточки внутри контейнера */
}